
.todayView{
    display: flex;
    margin: 20px 0px;
}

.todayView .todayViewItem{
    flex-basis: 0;
    flex-grow: 1;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    height: 300px;
    border-radius: 25px;
    padding: 20px;
    margin: 0px 10px;
    transition: 0.1s;
}

.todayView .todayViewItem:hover{
    transform: scale(1.04);
}

.todayView .todayWeather{
    display: flex;
    flex-direction: column;
}

.todayView .weatherIcon{
    font-size: 150px;
    flex: 1 1 0;
    margin-right: 5%;
    color: #fa8a2d;
}

.todayWeather .todaySummary{
    display: flex;
    align-items: center;
    flex: 2 1 0;
    border-bottom: 0.1px dashed #2c2c2c;
}

.todayWeather .commentArea{
    flex: 2 1 0;
}

.commentArea .temperature{
    font-size: 80px;
}
.commentArea .description{
    font-size: 20px;
    margin: 5% 0;
}
.commentArea .comment{
    font-size: 15px;
    color: gray;
    font-weight: lighter;
}

.todayWeather .clothesStatus{
    margin-top: 20px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clothesStatus .iconTray{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconTray .clothesIcon{
    font-size: 50px;
}

.clothesStatus .gage{
    margin: 20px 0;
    height: 5px;
    width: 98%;
    -webkit-appearance: none;
    background: linear-gradient(to right, rgb(255, 79, 79), rgb(35, 88, 231));
    border-radius: 8px;
}
.clothesStatus .gage::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #fa8a2d;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}