
.todayDustView{
    display: flex;
    flex-direction: column;
}

.todayDustView .todayDust{
    display: flex;
    align-items: center;
    flex: 2 2 0;
    border-bottom: 0.1px dashed #2c2c2c;
}
.todayDustView .todayDetail{
    flex: 1 1 0;
    margin-top: 20px;
    display: flex;
}

.todayDust .dustIcon{
    font-size: 150px;
    flex: 1 1 0;
    margin-right: 5%;
    color: rgb(150, 28, 28);
}

.todayDust .commentArea{
    flex: 2 1 0;
}

.todayDust .dustVal{
    font-size: 80px;
}

.todayDetail .todayDetailItem{
    flex: 1 1 0;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: #e7ebf0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}
.todayDetailItem .detailItem_Item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todayDetailItem .maxTemp{
    border-bottom: 0.1px dashed #2c2c2c;
    color: crimson;
}
.todayDetailItem .minTemp{
    color: royalblue;
}
.todayDetailItem .humid, .todayDetailItem .maxTemp{
    padding-bottom: 8px;

}
.todayDetailItem .minTemp, .todayDetailItem .wind{
    padding-top: 8px;

}